.section {
  width: auto;
  background-image: -webkit-linear-gradient(270deg, #323d43, #323d43);
  background-image: linear-gradient(180deg, #323d43, #323d43);
}

.image {
  margin-top: 80px;
  margin-bottom: 80px;
}

.button {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 60px;
  float: right;
}

.image-2 {
  float: right;
}

.body {
  margin-right: 0px;
  margin-left: 0px;
  background-image: -webkit-linear-gradient(270deg, #fbfbfb, #fbfbfb);
  background-image: linear-gradient(180deg, #fbfbfb, #fbfbfb);
}

.div-block {
  margin-right: 80px;
  margin-left: 80px;
}

.div-block-2 {
  margin-right: 80px;
  margin-left: 80px;
}

.heading {
  padding-left: 7px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 25px;
}

.column {
  margin-top: 0px;
}

.html-embed {
  width: 100%;
  height: 300px;
}

.paragraph {
  margin-top: 24px;
  font-family: Muli, sans-serif;
  line-height: 26px;
}

.paragraph.para {
  margin-top: 0px;
  font-size: 20px;
}

.heading-2 {
  margin-top: 30px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 25px;
}

.para {
  margin-top: 5px;
  font-family: Muli, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}

.para.footertext {
  padding-top: 10px;
  padding-right: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.para.footertext2 {
  padding-top: 10px;
  float: none;
  color: hsla(0, 0%, 100%, .5);
  font-size: 16px;
  text-align: right;
}

.para.tandc {
  margin-top: 0px;
  margin-bottom: -1px;
  padding-left: 10px;
  font-size: 14px;
}

.para.message {
  font-size: 14px;
}

.para.upcoming {
  font-size: 15px;
}

.list-item {
  margin-top: 15px;
  font-family: Muli, sans-serif;
  font-size: 17px;
  line-height: 27px;
}

.textfield {
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 4px;
  font-family: Muli, sans-serif;
}

.textfield.bigtextfield {
  padding-top: 10px;
  padding-bottom: 28px;
}

.div-block-3 {
  border-radius: 4px;
}

.div-block-3.card {
  position: relative;
  margin-top: 15px;
  padding-bottom: 146px;
}

.image-3 {
  position: absolute;
}

.text-block {
  position: static;
}

.text-block.datelabel {
  font-family: Muli, sans-serif;
  font-weight: 800;
}

.div-block-4 {
  position: absolute;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.row {
  font-size: 12px;
}

.form {
  margin-top: 20px;
}

.image-4 {
  position: relative;
  margin-top: -10px;
  margin-right: -51px;
  float: right;
  clear: right;
}

.image-4.card2 {
  position: relative;
  margin-right: 0px;
  margin-left: 236px;
}

.div-block-5 {
  position: relative;
  padding-left: 340px;
}

.div-block-6 {
  position: static;
}

.image-5 {
  position: relative;
  margin-top: 0px;
  margin-right: -44px;
  margin-left: 0px;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 25px;
}

.heading-3 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 25px;
}

.div-block-7 {
  padding-top: 15px;
}

.image-6 {
  margin-right: 0px;
}

.socialbutton {
  margin-right: 15px;
}

.div-block-8 {
  margin-top: 40px;
}

.section-2 {
  margin-top: 30px;
  background-image: -webkit-linear-gradient(270deg, #323d43, #323d43);
  background-image: linear-gradient(180deg, #323d43, #323d43);
}

.div-block-9 {
  padding: 25px 80px;
}

.unordered-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.submit-button {
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 6px;
  font-family: Muli, sans-serif;
  text-transform: uppercase;
}

.link-block {
  position: static;
  margin-top: 120px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: right;
}

.checkbox-field {
  margin-top: 15px;
  margin-bottom: 15px;
}

.checkbox {
  margin-top: 8px;
}

.success-message {
  background-color: #b0e7b3;
}

.link-block-2 {
  text-decoration: none;
}

.hide {
  display: none;
}

@media (max-width: 991px) {
  .section {
    padding-bottom: 0px;
  }
  .image {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .image-2 {
    margin-top: 68px;
    padding-left: 109px;
  }
  .div-block {
    margin-right: 30px;
    margin-left: 30px;
  }
  .div-block-2 {
    margin-right: 30px;
    margin-left: 30px;
  }
  .html-embed {
    width: 100%;
    height: 100%;
  }
  .para {
    font-size: 12px;
    line-height: 18px;
  }
  .para.footertext {
    padding-top: 12px;
    padding-right: 15px;
    font-size: 12px;
  }
  .para.footertext2 {
    padding-top: 4px;
    padding-left: 0px;
    font-size: 12px;
  }
  .para.tandc {
    font-size: 12px;
  }
  .list-item {
    font-size: 12px;
    line-height: 18px;
  }
  .textfield {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .div-block-3.card {
    padding-bottom: 76px;
  }
  .text-block.datelabel {
    padding-bottom: 0px;
    font-size: 10px;
  }
  .div-block-4 {
    margin-top: 14px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding-right: 0px;
    padding-left: 1px;
  }
  .image-5 {
    padding-top: 6px;
    padding-left: 103px;
  }
  .title {
    margin-top: 10px;
    font-size: 20px;
  }
  .div-block-7 {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .socialbutton {
    margin-right: -18px;
    padding-right: 25px;
    padding-left: 0px;
  }
  .div-block-9 {
    padding: 15px 30px;
  }
  .unordered-list {
    margin-bottom: 0px;
  }
  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .link-block {
    margin-top: 0px;
  }
  .checkbox {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .image-2 {
    margin-top: 0px;
    padding-right: 37px;
    padding-left: 0px;
  }
  .para {
    font-size: 12px;
  }
  .div-block-3.card {
    margin-top: 0px;
    padding-bottom: 77px;
  }
  .image-3.card-2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .div-block-4 {
    margin-top: 30px;
    margin-bottom: 6px;
    padding-left: 12px;
  }
  .image-5 {
    margin-right: -30px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 59px;
  }
  .div-block-8 {
    margin-top: 103px;
  }
  .column-2 {
    margin-bottom: 20px;
    padding-left: 0px;
  }
  .link-block {
    padding-left: 0px;
    float: left;
  }
}

@media (max-width: 479px) {
  .image {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .image-2 {
    margin-top: 0px;
    padding-right: 80px;
    padding-left: 0px;
    float: left;
  }
  .div-block-2 {
    margin-right: 10px;
    margin-left: 10px;
  }
  .para {
    padding-right: 12px;
  }
  .para.footertext {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    text-align: left;
  }
  .para.footertext2 {
    padding-top: 15px;
    text-align: center;
  }
  .para.upcoming {
    font-size: 10px;
  }
  .div-block-3.card {
    margin-bottom: 145px;
    padding-bottom: 0px;
  }
  .div-block-4 {
    margin-top: 17px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .image-5 {
    margin-right: -10px;
    padding-top: 7px;
    padding-left: 71px;
  }
  .div-block-7 {
    padding-top: 10px;
  }
  .socialbutton {
    padding-right: 10px;
  }
  .div-block-9 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .unordered-list {
    display: inline;
    padding-left: 0px;
    clear: left;
    text-align: center;
  }
  .column-2 {
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-3 {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .image-7 {
    padding-left: 0px;
  }
  .column-5 {
    position: static;
    padding-right: 177px;
    padding-left: 177px;
  }
  .column-6 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .list-item-2 {
    text-align: center;
  }
  .list-item-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: none;
    clear: none;
  }
  .link-block {
    margin-bottom: 20px;
  }
}

